# MODE
NODE_ENV=development

# DATABASE
DATABASE_URL=""

# SERVER
SERVER_PORT=""
SERVER_HOST=""
SERVER_GLOBAL_PREFIX=""

# JWT
JWT_ACCESS_SECRET=""
JWT_REFRESH_SECRET=""
JWT_ACCESS_EXP=""
JWT_REFRESH_EXP=""

# AUTH
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""
YANDEX_APP_ID=""
YANDEX_APP_SECRET=""